:host {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'header header'
    'sidebar body';
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.body {
  grid-area: body;
}
